<div class="container">
    <div class="well card">
        <h2>The universe is the totality of everything that exists, has existed, or will exist.</h2>
        <h3>This Q&A site is dedicated to questions about the history of the universe.</h3>
    </div>
    <div class="container">
        <% @questions.each do |q| %>
            <div class="media">
                <img src="<%= q.gravatar %>" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0"><%= q.email %> asked:</h5>
                    <div>
                        <%= time_ago_in_words q.created_at %> ago
                    </div>
                    <%= q.body %>
                    <div>
                        <a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
                    </div>
                </div>
            </div>
        <% end %>
        <%# <div class="media">
            <img src="http://www.gravatar.com/avatar/424242" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">user@email.com asked:</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                <div>
                    <a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
                </div>
            </div>
        </div>
        <div class="media">
            <img src="http://www.gravatar.com/avatar/424242" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">user@email.com asked:</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                <div>
                    <a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
                </div>
            </div>
        </div> %>
    </div>
</div>
